<head>
    <link rel="stylesheet" href="/static/style.css">
  
    <script src="/static/code.js"></script>

<h1 class="title"> Button does something cool </h1>

<p>
    <button class="button" onclick="showMe()">
       You Wanna Press This
    </button>
</p>

<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
<img src="/static/monge.jpg" class="monge" id="monge"> </img>
