.title{
    text-align: center;
    color: rgb(240, 25, 165);
    font-size: large;
}

.button{
    color: rgb(240, 122, 25);
    font-size: larger;
    font-style: italic;
    text-align: center;
    align-items: center;
}

.monge{
    opacity: 0;
}